__pycache__/1-hbnb_route.cpython-310.pyc
__pycache__/2-c_route.cpython-310.pyc
__pycache__/3-python_route.cpython-310.pyc
__pycache__/4-number_route.cpython-310.pyc
__pycache__/5-number_template.cpython-310.pyc
__pycache__/5-number_template2.cpython-310.pyc
__pycache__/6-number_odd_or_even.cpython-310.pyc
__pycache__/6-number_odd_or_even2.cpython-310.pyc
6-number_odd_or_even2.py
